* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.green {
  border: 4px solid green;
  background-color: rgb(196, 232, 196);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.row1,
.row3 {
  flex: 1;
  border: 4px solid blue;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}


.row2 {
  flex: 2;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.column1,
.column2,
.column3 {
  border: 4px solid peru;
  background-color: peachpuff;
  flex: 1;
  height: auto;
}

.row1 .column1,
.row1 .column2,
.row1 .column3 {}

.row1 .column2 {
  display: flex;
  justify-content: space-evenly;
}

.row1 .column2 .child1,
.row1 .column2 .child2 {
  flex: 1;
  border: 4px solid red;
  background-color: rgb(242, 197, 197);
  margin: 10px;
}

.row2 .column1 {
  border: 4px solid rgb(179, 27, 0);
  background-color: rgb(227, 183, 165);
  flex: 1;
  margin-right: 10px;
}

.row2 .column2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  height: auto;
  border: none;
  background-color: transparent;
}

.row2 .column2 .child1,
.row2 .column2 .child2 {
  border: 4px solid rgb(179, 27, 0);
  background-color: rgb(227, 183, 165);
  flex: 1;
}

.row3 .column1,
.row3 .column3 {
  border: 4px solid blue;
}

.row3 .column2 {
  display: flex;
  justify-content: space-between;
  border: none;
  background-color: transparent;
}

.row3 .column2 .child1,
.row3 .column2 .child2 {
  border: 4px solid peru;
  background-color: peachpuff;
  flex: 1;
}