* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.green {
  border: 4px solid green;
  background-color: rgb(196, 232, 196);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.row1,
.row3 {
  border: 4px solid blue;
  background-color: lightblue;
  height: 22vh;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}


.row2 {
  height: 40vh;
  display: flex;
  justify-content: space-between;
}

.column1,
.column2,
.column3 {
  border: 4px solid peru;
  background-color: peachpuff;
  width: 29.5vw;
  height: auto;
}

.row1 .column2 {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.row1 .column2 .child1,
.row1 .column2 .child2 {
  border: 4px solid red;
  background-color: rgb(242, 197, 197);
  width: 14vw;
}

.row2 .column1 {
  border: 4px solid rgb(179, 27, 0);
  background-color: rgb(227, 183, 165);
  width: 47.5vw;
}

.row2 .column2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 47.5vw;
  height: auto;
  border: none;
  background-color: transparent;
}

.row2 .column2 .child1,
.row2 .column2 .child2 {
  border: 4px solid rgb(179, 27, 0);
  background-color: rgb(227, 183, 165);
  height: 19vh;
}

.row3 .column1,
.row3 .column3 {
  border: 4px solid blue;
}

.row3 .column2 {
  display: flex;
  justify-content: space-between;
  border: none;
  background-color: transparent;
}

.row3 .column2 .child1,
.row3 .column2 .child2 {
  border: 4px solid peru;
  background-color: peachpuff;
  width: 14.5vw;
}